# Ignore Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore logs and temp files
*.log
*.tmp

# Ignore virtual environments (if using venv)
venv/
.env

# Ignore Matplotlib saved plots
*.png
*.jpg

# Ignore system files (macOS & Windows)
.DS_Store
Thumbs.db
